/* --- BANNIERE --- */
.banniere img{
    width: 600px;
    height: 350px;
    margin-left:25%;
}

p{
    text-align: center;
}
/* --- MENU --- */

#menu {
    margin-left: 30%;
}

#menu li{
    list-style: none;
    display: inline;
    padding: 30px;
}

#menu li a{
    text-decoration: none;
    font-size: 20px;
    color: brown;
}

#menu li a:hover{
    text-decoration: underline;
}


#formulaire label{
    color:red;
}

/* --- FOOTER --- */
.footer{
    margin-top: 2%;
    background-color: black;
    color: white;
    padding: 2px;
}

.footer .name{
    text-align: center;
    color:white;
    font-size: 12px; 
}
